@tailwind base;
@tailwind components;
@tailwind utilities;

body:after {
    background-image: url('/img/background.png');
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
    opacity: 1;
}
::-webkit-scrollbar {
    width: 8px;
}
body.modal-open {
    overflow: hidden;
}
@media (max-width: 640px) {
    .sm\:flex-col--important {
        display: flex !important;
        flex-direction: row !important;
    }
}
::-webkit-scrollbar:hover {
    background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {

    background-image: linear-gradient(to bottom, #1f1f1f, #4f4f4f, #dda7fd);
    border-radius: 20px;
    border: none;
    animation: scrollbar-animation 0.2s ease infinite;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff4081;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url("/img/background_main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    filter: opacity(0.1);
}


